.pakett {
  margin: 20px;
}

.pakett:hover{
  border: 3px solid purple;
}

.pakett-aktiivne {
  margin: 20px;
  border: 3px solid purple;
}

.must-ring {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  color: black;
}

.kuldne-ring {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  color: goldenrod;
}

.sinine-ring {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  color: blue;
}

.punane-ring {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  color: red;
}

.lilla-ring {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  color: purple;
}

.aktiivne {
  text-decoration: underline;
  font-weight: bold;
  background-color: black;
  color: white;
}